
<ion-header>

  <ion-navbar>
    <ion-title>{{evento.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-list>
    <ion-item>
      <p>Tipo: {{evento.tipo}}</p>
    </ion-item>
    <ion-item>
      <p>Data: {{evento.datainicio}}</p>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.datainicio"></ion-datetime>
    </ion-item>
  </ion-list>

  <button ion-button (click)="inscrever()" full *ngIf="incrita">Inscrever</button>
  <button ion-button (click)="desistir()" color="danger" full *ngIf="!incrita">Sair do Curso</button>
</ion-content>
