<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      EventosFT
    </div>
  </div>
  <div padding>
    <form (ngSubmit)="efetuaLogin()">
      <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input [(ngModel)]="senha" name="senha" type="password"></ion-input>
      </ion-item>

      <button ion-button block type="submit" color="secondary" class="login">ENTRAR</button>
    </form>
    <button ion-button block full (click)="cadastrar()">Cadastrar</button>
  </div>
</ion-content>