<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input [(ngModel)]="participante.nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Telefone</ion-label>
    <ion-input [(ngModel)]="participante.telefone" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input [(ngModel)]="participante.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Senha</ion-label>
    <ion-input [(ngModel)]="participante.senha" type="password"></ion-input>
  </ion-item>

  <button ion-button block color="secondary" (click)="cadastrar()" full>Cadastrar</button>
</ion-content>
