<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Lista de Cursos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of eventos">
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="bulb"></ion-icon>
            </ion-avatar>
            <h2>{{item.nome}}</h2>
            <h3>{{item.tipo}}</h3>
          </ion-item>
          
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="inscrever(item)">Increver</button>
        </ion-item-options>
    
        <ion-item-options side="right">
          <button ion-button (click)="selecionaEvento(item)">Saiba mais</button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
