page-home {
    .avatar-wrapper {
        position: relative;
        width: 200px;
        margin: auto;

        ion-avatar img {
            background-color: #DDDDDD;
            width: 200px;
            height: 200px;
            margin: auto;
        }

    }
}