<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center">Tela Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
        <img src="assets/img/avatar-padrao.jpg">
    <ion-card-content>
      <ion-card-title>
        {{user.name}}
        </ion-card-title>
      <p>
        {{user.email}}
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button danger block (click)="logOff()">Sair</button>

  <h4>Minhas Inscrições</h4>
  <ul>
      <ion-item-sliding *ngFor="let item of minhasInscricoes">
        <ion-item>{{item.nome}}</ion-item>
      </ion-item-sliding>
  </ul>


</ion-content>
